<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.thinkwatch.ihass2" >

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:allowBackup="true"
        android:name=".HassApplication"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data android:name="cn.com.thinkwatch.ihass2.https.MyGlideMoudle" android:value="GlideModule" />

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />
        <receiver android:name=".widget.DetailWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_detail_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.RowWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_row_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK0" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK1" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK2" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK3" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK4" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK5" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK6" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK7" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK8" />
                <action android:name="cn.com.thinkwatch.ihass2.action.CLICK9" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.AdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/admin_lock" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.DataSyncService" android:process=":datasync" android:exported="true">
            <intent-filter>
                <action android:name="cn.com.thinkwatch.ihass2.service.DataSyncService" />
            </intent-filter>
        </service>
        <service android:name=".service.AlbumSyncService" android:process=":datasync" android:exported="true">
            <intent-filter>
                <action android:name="cn.com.thinkwatch.ihass2.service.AlbumSyncService" />
            </intent-filter>
        </service>
        <service android:name=".service.AccessibilityMonitorService" android:process=":datasync" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility" />
        </service>

        <activity android:name=".ui.CallServiceActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name=".ui.TemplateEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name=".ui.EntityConfigActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity android:name=".ui.TextEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.NotificationInputActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.AttributeListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ConfActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.MainActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.AutomationActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ScriptsActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.EntitiesActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.SettingActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.SettingVoiceActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.SettingAlbumActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.QtfmBroadcastActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.XmlyBroadcastActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.PanelListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.PanelEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.EntityListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ServiceListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.TriggerActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.TriggerEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.NotificationEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.TriggerHistoryActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.BluetoothActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.WifiActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.NfcPickActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.GpsPickActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.InterceptGuideActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ServiceInterceptActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.PoiSearchActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysVisible"/>
        <activity android:name=".ui.MdiListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.CameraViewActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:configChanges="orientation|screenSize"  android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ChoiceFileActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.MusicListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.NeteasyMusicActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ObservedActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ObservedEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.EmptyActivity" android:launchMode="singleInstance" android:excludeFromRecents="true" android:noHistory="true" android:theme="@style/EmptyTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".ui.LauncherActivity" android:launchMode="singleInstance" android:excludeFromRecents="true" android:noHistory="true" android:theme="@style/EmptyTheme" android:exported="true" />
        <activity
            android:name=".ui.HomeLauncherActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NfcReadActivity" android:launchMode="singleInstance" android:noHistory="true" android:theme="@style/EmptyTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter"/>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WidgetListActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.MapActivity" android:launchMode="singleInstance" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.CertificateActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".widget.DetailConfigActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name=".widget.RowConfigActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.QrScannerActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.VoiceHelpActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.VoiceHistoryActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.VoiceActivity" android:screenOrientation="portrait" android:launchMode="singleInstance" android:excludeFromRecents="true" android:theme="@style/VoiceControlTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".ui.ScriptEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ImageViewActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.ChartViewActivity" android:screenOrientation="landscape" android:theme="@style/MyFullScreenTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".ui.AutomationEditActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerEventActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerHassActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerMqttActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerNumbericActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerSunActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerTemplateActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerTimeActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerPatternActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerWebHookActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerZoneActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.trigger.TriggerStateActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".ui.automation.condition.ConditionOrActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionAndActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionNumbericActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionStateActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionSunActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionTemplateActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionTimeActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.condition.ConditionZoneActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".ui.automation.action.ActionServiceActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionDelayActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionWaitActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionFireEventActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionChooseActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionChooseItemActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.automation.action.ActionRepeatActivity" android:screenOrientation="portrait" android:theme="@style/MyAppTheme" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity android:name=".ui.AlbumImageViewActivity" android:screenOrientation="portrait" android:theme="@style/MyNoTitlebarTheme" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.AlbumVideoViewActivity" android:screenOrientation="sensor" android:theme="@style/MyFullScreenTheme" android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity android:name=".ui.AlbumDownloadActivity" android:screenOrientation="sensor" android:theme="@style/MyAppTheme" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

    </application>
</manifest>
